In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../input/cat_train.csv')

In [3]:
mapping = {
 "Freezing": 0,
 "Warm": 1,
 "Cold": 2,
 "Boiling Hot": 3,
 "Hot": 4,
 "Lava Hot": 5
}

In [4]:
df

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,...,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0
1,1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,...,f37df64af,3.0,Grandmaster,Warm,e,X,pE,7.0,7.0,0
2,2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,...,NaN,3.0,NaN,Freezing,n,P,eN,5.0,9.0,0
3,3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,...,f9d456e57,1.0,Novice,Lava Hot,a,C,NaN,3.0,3.0,0
4,4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,...,c5361037c,3.0,Grandmaster,Cold,h,C,OZ,5.0,12.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,599995,0.0,1.0,0.0,T,N,Red,Polygon,Axolotl,India,...,015c63324,3.0,Novice,Freezing,a,R,GZ,5.0,NaN,0
599996,599996,1.0,0.0,0.0,T,Y,Blue,Polygon,Dog,Costa Rica,...,a02ae6a63,2.0,Novice,Boiling Hot,n,N,sf,NaN,3.0,0
599997,599997,0.0,0.0,0.0,F,Y,Red,Circle,Axolotl,Russia,...,40f9610c1,2.0,Contributor,Freezing,n,H,MV,7.0,5.0,0
599998,599998,1.0,1.0,0.0,F,Y,NaN,Polygon,Axolotl,NaN,...,c1a8374a0,1.0,Master,Warm,m,X,Ey,1.0,5.0,0
599999,599999,0.0,0.0,0.0,T,N,Blue,Triangle,Dog,Russia,...,e2aea7784,1.0,Contributor,Boiling Hot,b,O,uI,5.0,8.0,0

In [5]:
df.loc[:, "ord_2"] = df.ord_2.map(mapping)

In [6]:
df

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,...,02e7c8990,3.0,Contributor,4.0,c,U,Pw,6.0,3.0,0
1,1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,...,f37df64af,3.0,Grandmaster,1.0,e,X,pE,7.0,7.0,0
2,2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,...,NaN,3.0,NaN,0.0,n,P,eN,5.0,9.0,0
3,3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,...,f9d456e57,1.0,Novice,5.0,a,C,NaN,3.0,3.0,0
4,4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,...,c5361037c,3.0,Grandmaster,2.0,h,C,OZ,5.0,12.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,599995,0.0,1.0,0.0,T,N,Red,Polygon,Axolotl,India,...,015c63324,3.0,Novice,0.0,a,R,GZ,5.0,NaN,0
599996,599996,1.0,0.0,0.0,T,Y,Blue,Polygon,Dog,Costa Rica,...,a02ae6a63,2.0,Novice,3.0,n,N,sf,NaN,3.0,0
599997,599997,0.0,0.0,0.0,F,Y,Red,Circle,Axolotl,Russia,...,40f9610c1,2.0,Contributor,0.0,n,H,MV,7.0,5.0,0
599998,599998,1.0,1.0,0.0,F,Y,NaN,Polygon,Axolotl,NaN,...,c1a8374a0,1.0,Master,1.0,m,X,Ey,1.0,5.0,0
599999,599999,0.0,0.0,0.0,T,N,Blue,Triangle,Dog,Russia,...,e2aea7784,1.0,Contributor,3.0,b,O,uI,5.0,8.0,0

In [7]:
df.ord_2.value_counts()

0.0    142726
1.0    124239
2.0     97822
3.0     84790
4.0     67508
5.0     64840
Name: ord_2, dtype: int64

In [8]:
import pandas as pd
from sklearn import preprocessing
# read the data
df = pd.read_csv("../input/cat_train.csv")
# fill NaN values in ord_2 column
df.loc[:, "ord_2"] = df.ord_2.fillna("NONE")

In [9]:
df

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,...,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0
1,1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,...,f37df64af,3.0,Grandmaster,Warm,e,X,pE,7.0,7.0,0
2,2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,...,NaN,3.0,NaN,Freezing,n,P,eN,5.0,9.0,0
3,3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,...,f9d456e57,1.0,Novice,Lava Hot,a,C,NaN,3.0,3.0,0
4,4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,...,c5361037c,3.0,Grandmaster,Cold,h,C,OZ,5.0,12.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,599995,0.0,1.0,0.0,T,N,Red,Polygon,Axolotl,India,...,015c63324,3.0,Novice,Freezing,a,R,GZ,5.0,NaN,0
599996,599996,1.0,0.0,0.0,T,Y,Blue,Polygon,Dog,Costa Rica,...,a02ae6a63,2.0,Novice,Boiling Hot,n,N,sf,NaN,3.0,0
599997,599997,0.0,0.0,0.0,F,Y,Red,Circle,Axolotl,Russia,...,40f9610c1,2.0,Contributor,Freezing,n,H,MV,7.0,5.0,0
599998,599998,1.0,1.0,0.0,F,Y,NaN,Polygon,Axolotl,NaN,...,c1a8374a0,1.0,Master,Warm,m,X,Ey,1.0,5.0,0
599999,599999,0.0,0.0,0.0,T,N,Blue,Triangle,Dog,Russia,...,e2aea7784,1.0,Contributor,Boiling Hot,b,O,uI,5.0,8.0,0

In [10]:
# initialize LabelEncoder
lbl_enc = preprocessing.LabelEncoder()
# fit label encoder and transform values on ord_2 column
# P.S: do not use this directly. fit first, then transform
df.loc[:, "ord_2"] = lbl_enc.fit_transform(df.ord_2.values)

In [11]:
df

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,...,02e7c8990,3.0,Contributor,3,c,U,Pw,6.0,3.0,0
1,1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,...,f37df64af,3.0,Grandmaster,6,e,X,pE,7.0,7.0,0
2,2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,...,NaN,3.0,NaN,2,n,P,eN,5.0,9.0,0
3,3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,...,f9d456e57,1.0,Novice,4,a,C,NaN,3.0,3.0,0
4,4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,...,c5361037c,3.0,Grandmaster,1,h,C,OZ,5.0,12.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,599995,0.0,1.0,0.0,T,N,Red,Polygon,Axolotl,India,...,015c63324,3.0,Novice,2,a,R,GZ,5.0,NaN,0
599996,599996,1.0,0.0,0.0,T,Y,Blue,Polygon,Dog,Costa Rica,...,a02ae6a63,2.0,Novice,0,n,N,sf,NaN,3.0,0
599997,599997,0.0,0.0,0.0,F,Y,Red,Circle,Axolotl,Russia,...,40f9610c1,2.0,Contributor,2,n,H,MV,7.0,5.0,0
599998,599998,1.0,1.0,0.0,F,Y,NaN,Polygon,Axolotl,NaN,...,c1a8374a0,1.0,Master,6,m,X,Ey,1.0,5.0,0
599999,599999,0.0,0.0,0.0,T,N,Blue,Triangle,Dog,Russia,...,e2aea7784,1.0,Contributor,0,b,O,uI,5.0,8.0,0

In [12]:
import numpy as np
# create our example feature matrix|
example = np.array(
 [
 [0, 0, 1],
 [1, 0, 0],
 [1, 0, 1]
 ]
)
# print size in bytes
print(example.nbytes)

72

In [13]:
import numpy as np
from scipy import sparse
# create our example feature matrix
example = np.array(
 [
 [0, 0, 1],
 [1, 0, 0],
 [1, 0, 1]
 ]
)
# convert numpy array to sparse CSR matrix
sparse_example = sparse.csr_matrix(example)
# print size of this sparse matrix
print(sparse_example.data.nbytes)

32

In [14]:
sparse_example.data

array([1, 1, 1, 1])

In [15]:
print(
 sparse_example.data.nbytes +
 sparse_example.indptr.nbytes +
 sparse_example.indices.nbytes
)

64

In [16]:
import numpy as np
from scipy import sparse

# number of rows
n_rows = 10000
# number of columns
n_cols = 100000
# create random binary matrix with only 5% values as 1s
example = np.random.binomial(1, p=0.05, size=(n_rows, n_cols))
# print size in bytes
print(f"Size of dense array: {example.nbytes}")
# convert numpy array to sparse CSR matrix
sparse_example = sparse.csr_matrix(example)
# print size of this sparse matrix
print(f"Size of sparse array: {sparse_example.data.nbytes}")
full_size = (
    sparse_example.data.nbytes +
    sparse_example.indptr.nbytes +
    sparse_example.indices.nbytes
)
# print full size of this sparse matrix
print(f"Full size of sparse array: {full_size}")

Size of dense array: 8000000000
Size of sparse array: 399959040
Full size of sparse array: 599978564

In [23]:
import numpy as np
from scipy import sparse
# create binary matrix
example = np.array(
 [
 [0, 0, 0, 0, 1, 0],
 [0, 1, 0, 0, 0, 0],
 [1, 0, 0, 0, 0, 0]
 ]
)
# print size in bytes
print(f"Size of dense array: {example.nbytes}")
# convert numpy array to sparse CSR matrix
sparse_example = sparse.csr_matrix(example)
# print size of this sparse matrix
print(f"Size of sparse array: {sparse_example.data.nbytes}")
full_size = (
 sparse_example.data.nbytes +
 sparse_example.indptr.nbytes +
 sparse_example.indices.nbytes
)
# print full size of this sparse matrix
print(f"Full size of sparse array: {full_size}")

Size of dense array: 144
Size of sparse array: 24
Full size of sparse array: 52

In [1]:
# one hot encoding

import numpy as np
from sklearn import preprocessing
# create random 1-d array with 1001 different categories (int)
example = np.random.randint(1000, size=1000000)
# initialize OneHotEncoder from scikit-learn
# keep sparse = False to get dense array
ohe = preprocessing.OneHotEncoder(sparse=False)
# fit and transform data with dense one hot encoder
ohe_example = ohe.fit_transform(example.reshape(-1, 1))
# print size in bytes for dense array
print(f"Size of dense array: {ohe_example.nbytes}")

Size of dense array: 8000000000

In [2]:
# initialize OneHotEncoder from scikit-learn
# keep sparse = True to get sparse array
ohe = preprocessing.OneHotEncoder(sparse=True)
# fit and transform data with sparse one-hot encoder
ohe_example = ohe.fit_transform(example.reshape(-1, 1))
# print size of this sparse matrix
print(f"Size of sparse array: {ohe_example.data.nbytes}")
full_size = (
 ohe_example.data.nbytes +
 ohe_example.indptr.nbytes + ohe_example.indices.nbytes
)
# print full size of this sparse matrix
print(f"Full size of sparse array: {full_size}")

Size of sparse array: 8000000
Full size of sparse array: 16000004

In [4]:
import pandas as pd
df = pd.read_csv('../input/cat_train.csv')

In [5]:
df[df.ord_2 == 'Boiling Hot'].shape

(84790, 25)

In [22]:
df.groupby(["ord_2"]).describe()

                   id                                                          \
                count           mean            std  min        25%       50%
ord_2
Boiling Hot   84790.0  299891.477438  173714.506689  8.0  149261.75  299970.5
Cold          97822.0  300512.945656  172862.766597  4.0  151027.75  300889.5
Freezing     142726.0  300567.658373  173135.092807  2.0  150644.25  301657.5
Hot           67508.0  299822.700910  173261.634724  0.0  149786.50  298714.5
Lava Hot      64840.0  300070.374383  173154.911655  3.0  149829.00  300262.0
Warm         124239.0  298839.072811  173188.612724  1.0  148780.50  297312.0

                                     bin_0            ... month        \
                   75%       max     count      mean  ...   75%   max
ord_2                                                 ...
Boiling Hot  451100.50  599999.0   82324.0  0.092002  ...   8.0  12.0
Cold         450030.25  599994.0   94946.0  0.092632  ...   8.0  12.0
Freezing     449854.75  599997.0  138468.0  0.091075  ...   8.0  12.0
Hot          450154.25  599980.0   65487.0  0.091606  ...   8.0  12.0
Lava Hot     449554.75  599988.0   62820.0  0.091961  ...   8.0  12.0
Warm         449342.00  599998.0  120487.0  0.093852  ...   8.0  12.0

               target
                count      mean       std  min  25%  50%  75%  max
ord_2
Boiling Hot   84790.0  0.244003  0.429497  0.0  0.0  0.0  0.0  1.0
Cold          97822.0  0.152205  0.359221  0.0  0.0  0.0  0.0  1.0
Freezing     142726.0  0.132253  0.338767  0.0  0.0  0.0  0.0  1.0
Hot           67508.0  0.205176  0.403833  0.0  0.0  0.0  0.0  1.0
Lava Hot      64840.0  0.290762  0.454117  0.0  0.0  0.0  1.0  1.0
Warm         124239.0  0.175404  0.380314  0.0  0.0  0.0  0.0  1.0

[6 rows x 64 columns]

In [6]:
df.groupby(["ord_2"])["id"].count()

ord_2
Boiling Hot     84790
Cold            97822
Freezing       142726
Hot             67508
Lava Hot        64840
Warm           124239
Name: id, dtype: int64

In [8]:
 df.groupby(["ord_2"])["id"].transform("count")

0          67508.0
1         124239.0
2         142726.0
3          64840.0
4          97822.0
            ...
599995    142726.0
599996     84790.0
599997    142726.0
599998    124239.0
599999     84790.0
Name: id, Length: 600000, dtype: float64

In [24]:
df.groupby(['ord_1', 'ord_2']).describe()

                              id                                       \
                           count           mean            std    min
ord_1       ord_2
Contributor Boiling Hot  15634.0  299887.601573  173297.946279  111.0
            Cold         17734.0  300021.632401  172643.194371   54.0
            Freezing     26082.0  301469.535158  173596.901685   34.0
            Hot          12428.0  298635.722481  173384.158410    0.0
            Lava Hot     11919.0  298960.203541  173842.054795    9.0
            Warm         22774.0  298663.220559  172868.622096   41.0
Expert      Boiling Hot  19477.0  297982.208862  173704.409167   30.0
            Cold         22956.0  300974.182567  172718.360654    7.0
            Freezing     33249.0  299919.185449  172280.091669   32.0
            Hot          15792.0  299803.367085  173595.213216    5.0
            Lava Hot     15078.0  300136.953177  172114.370414   47.0
            Warm         28900.0  298802.060381  172978.878939   25.0
Grandmaster Boiling Hot  13623.0  302255.488072  174460.676293   19.0
            Cold         15464.0  301509.309816  173217.923624    4.0
            Freezing     22818.0  299752.294680  172883.681490   26.0
            Hot          10805.0  300451.269042  173322.696546  118.0
            Lava Hot     10363.0  301798.261025  173682.972550   31.0
            Warm         19899.0  297509.504196  173389.506177    1.0
Master      Boiling Hot  10800.0  300480.426204  173500.525542   33.0
            Cold         12364.0  296670.501375  173212.138363   63.0
            Freezing     18035.0  300073.884558  173914.882041   14.0
            Hot           8594.0  302826.721783  172843.462792   18.0
            Lava Hot      8209.0  297494.219637  172142.204730  128.0
            Warm         15734.0  298802.088979  174275.661662   56.0
Novice      Boiling Hot  22718.0  301061.816797  173615.079539    8.0
            Cold         26271.0  301457.569906  172722.793529   27.0
            Freezing     38233.0  301584.865457  173217.710735   12.0
            Hot          17850.0  298681.399832  173224.826051   10.0
            Lava Hot     17373.0  300760.566454  173533.705826    3.0
            Warm         33263.0  299967.631933  172982.664558   17.0

                                                                     bin_0  \
                               25%       50%        75%       max    count
ord_1       ord_2
Contributor Boiling Hot  149703.50  302502.5  449738.25  599999.0  15167.0
            Cold         151129.00  299254.5  449769.50  599973.0  17216.0
            Freezing     152599.00  301730.5  450523.00  599997.0  25230.0
            Hot          148904.25  296054.5  450703.25  599940.0  12047.0
            Lava Hot     148247.50  298267.0  449661.00  599981.0  11550.0
            Warm         150065.50  296173.0  448677.50  599991.0  22065.0
Expert      Boiling Hot  148163.00  296739.0  449485.00  599979.0  18920.0
            Cold         150678.25  301592.5  450259.00  599983.0  22274.0
            Freezing     150975.00  301207.0  448427.00  599986.0  32264.0
            Hot          149458.75  297702.0  450181.25  599964.0  15346.0
            Lava Hot     151020.25  299376.5  446920.00  599958.0  14580.0
            Warm         148019.00  297434.0  449740.25  599944.0  28041.0
Grandmaster Boiling Hot  149977.00  304279.0  454320.00  599884.0  13233.0
            Cold         153267.75  301473.0  451899.50  599994.0  15041.0
            Freezing     150742.50  299489.5  448997.75  599972.0  22164.0
            Hot          152472.00  298667.0  451286.00  599949.0  10482.0
            Lava Hot     149150.50  305078.0  452221.50  599976.0  10038.0
            Warm         147037.00  294953.0  448380.00  599955.0  19284.0
Master      Boiling Hot  150732.00  299321.0  453685.00  599989.0  10466.0
            Cold         146272.75  294403.5  445283.75  599828.0  11979.0
            Freezing     148024.50  300547.0  452693.00  599948.0  17456.0
            Hot          152006.25  305442.5  451792.00  599980.0   8349.0
            Lava Hot     148643.00  294181.0  448467.00  599988.0   7981.0
            Warm         146507.00  297683.0  451507.50  599998.0  15245.0
Novice      Boiling Hot  150623.50  301441.0  451793.75  599996.0  22068.0
            Cold         151865.50  303512.0  450860.50  599951.0  25499.0
            Freezing     151561.00  304020.0  450139.00  599995.0  37152.0
            Hot          147682.00  297636.0  447953.25  599977.0  17286.0
            Lava Hot     150865.00  303251.0  449906.00  599916.0  16838.0
            Warm         151180.00  299397.0  449126.00  599987.0  32270.0

                                   ... month         target            \
                             mean  ...   75%   max    count      mean
ord_1       ord_2                  ...
Contributor Boiling Hot  0.093624  ...   8.0  12.0  15634.0  0.225918
            Cold         0.094970  ...   8.0  12.0  17734.0  0.138153
            Freezing     0.092905  ...   8.0  12.0  26082.0  0.123495
            Hot          0.089400  ...   8.0  12.0  12428.0  0.185871
            Lava Hot     0.091082  ...   8.0  12.0  11919.0  0.274939
            Warm         0.092409  ...   8.0  12.0  22774.0  0.159831
Expert      Boiling Hot  0.090328  ...   8.0  12.0  19477.0  0.250039
            Cold         0.089432  ...   8.0  12.0  22956.0  0.155951
            Freezing     0.092208  ...   8.0  12.0  33249.0  0.132756
            Hot          0.094617  ...   8.0  12.0  15792.0  0.208777
            Lava Hot     0.095953  ...   8.0  12.0  15078.0  0.291020
            Warm         0.094255  ...   8.0  12.0  28900.0  0.179100
Grandmaster Boiling Hot  0.092345  ...   8.0  12.0  13623.0  0.293621
            Cold         0.095938  ...   8.0  12.0  15464.0  0.191800
            Freezing     0.092086  ...   8.0  12.0  22818.0  0.168814
            Hot          0.089201  ...   8.0  12.0  10805.0  0.250810
            Lava Hot     0.087567  ...   9.0  12.0  10363.0  0.354048
            Warm         0.093030  ...   8.0  12.0  19899.0  0.221267
Master      Boiling Hot  0.091343  ...   8.0  12.0  10800.0  0.276667
            Cold         0.089740  ...   8.0  12.0  12364.0  0.178907
            Freezing     0.091659  ...   8.0  12.0  18035.0  0.148655
            Hot          0.092227  ...   9.0  12.0   8594.0  0.231324
            Lava Hot     0.089838  ...   8.0  12.0   8209.0  0.315264
            Warm         0.095048  ...   8.0  12.0  15734.0  0.201093
Novice      Boiling Hot  0.092442  ...   8.0  12.0  22718.0  0.205520
            Cold         0.093259  ...   8.0  12.0  26271.0  0.122949
            Freezing     0.088071  ...   8.0  12.0  38233.0  0.108231
            Hot          0.090709  ...   8.0  12.0  17850.0  0.175574
            Lava Hot     0.093004  ...   8.0  12.0  17373.0  0.252403
            Warm         0.093802  ...   8.0  12.0  33263.0  0.142922


                              std  min  25%  50%  75%  max
ord_1       ord_2
Contributor Boiling Hot  0.418199  0.0  0.0  0.0  0.0  1.0
            Cold         0.345070  0.0  0.0  0.0  0.0  1.0
            Freezing     0.329011  0.0  0.0  0.0  0.0  1.0
            Hot          0.389018  0.0  0.0  0.0  0.0  1.0
            Lava Hot     0.446502  0.0  0.0  0.0  1.0  1.0
            Warm         0.366458  0.0  0.0  0.0  0.0  1.0
Expert      Boiling Hot  0.433046  0.0  0.0  0.0  1.0  1.0
            Cold         0.362816  0.0  0.0  0.0  0.0  1.0
            Freezing     0.339316  0.0  0.0  0.0  0.0  1.0
            Hot          0.406447  0.0  0.0  0.0  0.0  1.0
            Lava Hot     0.454248  0.0  0.0  0.0  1.0  1.0
            Warm         0.383443  0.0  0.0  0.0  0.0  1.0
Grandmaster Boiling Hot  0.455437  0.0  0.0  0.0  1.0  1.0
            Cold         0.393730  0.0  0.0  0.0  0.0  1.0
            Freezing     0.374596  0.0  0.0  0.0  0.0  1.0
            Hot          0.433499  0.0  0.0  0.0  1.0  1.0
            Lava Hot     0.478247  0.0  0.0  0.0  1.0  1.0
            Warm         0.415111  0.0  0.0  0.0  0.0  1.0
Master      Boiling Hot  0.447371  0.0  0.0  0.0  1.0  1.0
            Cold         0.383290  0.0  0.0  0.0  0.0  1.0
            Freezing     0.355758  0.0  0.0  0.0  0.0  1.0
            Hot          0.421704  0.0  0.0  0.0  0.0  1.0
            Lava Hot     0.464649  0.0  0.0  0.0  1.0  1.0
            Warm         0.400830  0.0  0.0  0.0  0.0  1.0
Novice      Boiling Hot  0.404090  0.0  0.0  0.0  0.0  1.0
            Cold         0.328385  0.0  0.0  0.0  0.0  1.0
            Freezing     0.310676  0.0  0.0  0.0  0.0  1.0
            Hot          0.380468  0.0  0.0  0.0  0.0  1.0
            Lava Hot     0.434404  0.0  0.0  0.0  1.0  1.0
            Warm         0.349998  0.0  0.0  0.0  0.0  1.0

[30 rows x 64 columns]

In [23]:
df.groupby(['ord_1', 'ord_2'])['id'].count().reset_index(name='count')

          ord_1        ord_2  count
0   Contributor  Boiling Hot  15634
1   Contributor         Cold  17734
2   Contributor     Freezing  26082
3   Contributor          Hot  12428
4   Contributor     Lava Hot  11919
5   Contributor         Warm  22774
6        Expert  Boiling Hot  19477
7        Expert         Cold  22956
8        Expert     Freezing  33249
9        Expert          Hot  15792
10       Expert     Lava Hot  15078
11       Expert         Warm  28900
12  Grandmaster  Boiling Hot  13623
13  Grandmaster         Cold  15464
14  Grandmaster     Freezing  22818
15  Grandmaster          Hot  10805
16  Grandmaster     Lava Hot  10363
17  Grandmaster         Warm  19899
18       Master  Boiling Hot  10800
19       Master         Cold  12364
20       Master     Freezing  18035
21       Master          Hot   8594
22       Master     Lava Hot   8209
23       Master         Warm  15734
24       Novice  Boiling Hot  22718
25       Novice         Cold  26271
26       Novice     Freezing  38233
27       Novice          Hot  17850
28       Novice     Lava Hot  17373
29       Novice         Warm  33263

In [25]:
df['new_feature'] = (df.ord_1.astype(str)+'_'+df.ord_2.astype(str))

In [26]:
df.new_feature

0                 Contributor_Hot
1                Grandmaster_Warm
2                    nan_Freezing
3                 Novice_Lava Hot
4                Grandmaster_Cold
                   ...
599995            Novice_Freezing
599996         Novice_Boiling Hot
599997       Contributor_Freezing
599998                Master_Warm
599999    Contributor_Boiling Hot
Name: new_feature, Length: 600000, dtype: object

In [27]:
df['new_feature'] = (df.ord_1.astype(str)+'_'+df.ord_2.astype(str)+'_'+df.ord_3.astype(str))

In [28]:
df.new_feature

0                 Contributor_Hot_c
1                Grandmaster_Warm_e
2                    nan_Freezing_n
3                 Novice_Lava Hot_a
4                Grandmaster_Cold_h
                    ...
599995            Novice_Freezing_a
599996         Novice_Boiling Hot_n
599997       Contributor_Freezing_n
599998                Master_Warm_m
599999    Contributor_Boiling Hot_b
Name: new_feature, Length: 600000, dtype: object

In [29]:
df.ord_2.value_counts()

Freezing       142726
Warm           124239
Cold            97822
Boiling Hot     84790
Hot             67508
Lava Hot        64840
Name: ord_2, dtype: int64

In [30]:
df.ord_2.fillna("NONE").value_counts()

Freezing       142726
Warm           124239
Cold            97822
Boiling Hot     84790
Hot             67508
Lava Hot        64840
NONE            18075
Name: ord_2, dtype: int64

In [35]:
import pandas as pd
from sklearn import preprocessing
# read training data
train = pd.read_csv("../input/cat_train.csv")
#read test data
test = pd.read_csv("../input/cat_test.csv")
# create a fake target column for test data
# since this column doesn't exist
test.loc[:, "target"] = -1
# concatenate both training and test data
data = pd.concat([train, test]).reset_index(drop=True)

In [40]:
train.shape, test.shape, data.shape

((600000, 25), (400000, 25), (1000000, 25))

In [41]:
# make a list of features we are interested in
# id and target is something we should not encode
features = [x for x in train.columns if x not in ["id", "target"]]
# loop over the features list
for feat in features:
    # create a new instance of LabelEncoder for each feature
    lbl_enc = preprocessing.LabelEncoder()

    # note the trick here
    # since its categorical data, we fillna with a string
    # and we convert all the data to string type
    # so, no matter its int or float, its converted to string
    # int/float but categorical!!!
    temp_col = data[feat].fillna("NONE").astype(str).values
    # we can use fit_transform here as we do not
    # have any extra test data that we need to
    # transform on separately
    data.loc[:, feat] = lbl_enc.fit_transform(temp_col)

# split the training and test data again
train = data[data.target != -1].reset_index(drop=True)
test = data[data.target == -1].reset_index(drop=True)

In [42]:
train.shape, test.shape

((600000, 25), (400000, 25))

In [43]:
df.ord_4.fillna("NONE").value_counts()

N       39978
P       37890
Y       36657
A       36633
R       33045
U       32897
M       32504
X       32347
C       32112
H       31189
Q       30145
T       29723
O       25610
B       25212
E       21871
K       21676
I       19805
NONE    17930
D       17284
F       16721
W        8268
Z        5790
S        4595
G        3404
V        3107
J        1950
L        1657
Name: ord_4, dtype: int64

In [46]:
df.ord_4 = df.ord_4.fillna("NONE")
df.loc[df["ord_4"].value_counts()[df["ord_4"]].values < 2000, 'ord_4'] = "RARE"

In [47]:
df.ord_4.value_counts()

N       39978
P       37890
Y       36657
A       36633
R       33045
U       32897
M       32504
X       32347
C       32112
H       31189
Q       30145
T       29723
O       25610
B       25212
E       21871
K       21676
I       19805
NONE    17930
D       17284
F       16721
W        8268
Z        5790
S        4595
RARE     3607
G        3404
V        3107
Name: ord_4, dtype: int64

In [48]:
# create_folds.py
# import pandas and model_selection module of scikit-learn
import pandas as pd
from sklearn import model_selection

# Read training data
df = pd.read_csv("../input/cat_train.csv")
# we create a new column called kfold and fill it with -1
df["kfold"] = -1

# the next step is to randomize the rows of the data
df = df.sample(frac=1).reset_index(drop=True)

# fetch labels
y = df.target.values

In [50]:
df

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target,kfold
0,94359,0.0,0.0,0.0,F,Y,Red,Triangle,Axolotl,India,...,2.0,Master,Hot,i,A,YJ,6.0,2.0,0,-1
1,442906,0.0,0.0,0.0,F,N,Red,Triangle,Axolotl,India,...,2.0,Contributor,Warm,m,P,Dj,5.0,5.0,0,-1
2,258632,0.0,0.0,0.0,F,Y,Red,Circle,Lion,NaN,...,1.0,Novice,Hot,k,K,oU,3.0,6.0,0,-1
3,566609,0.0,0.0,0.0,F,N,Blue,Triangle,Lion,India,...,3.0,Novice,Warm,n,Z,lA,7.0,3.0,1,-1
4,427263,NaN,0.0,0.0,F,Y,Blue,Square,Dog,Costa Rica,...,1.0,Grandmaster,NaN,NaN,H,NaN,2.0,12.0,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,336782,0.0,0.0,0.0,F,Y,Blue,Triangle,Lion,Russia,...,NaN,Contributor,Boiling Hot,n,NaN,Fl,7.0,8.0,1,-1
599996,31099,0.0,0.0,1.0,F,N,Blue,Circle,Axolotl,Russia,...,1.0,Expert,Warm,i,K,DT,7.0,5.0,0,-1
599997,87504,0.0,0.0,0.0,F,Y,Green,Trapezoid,Hamster,India,...,1.0,Expert,Hot,n,I,ly,7.0,3.0,0,-1
599998,181930,1.0,1.0,0.0,F,N,Blue,Polygon,Hamster,Costa Rica,...,2.0,Master,Warm,b,I,jf,5.0,8.0,1,-1
599999,309963,0.0,0.0,0.0,T,Y,Blue,Triangle,Cat,Costa Rica,...,2.0,Grandmaster,Freezing,k,T,kv,3.0,11.0,0,-1

In [51]:
# initiate the kfold class from model_selection module
kf = model_selection.StratifiedKFold(n_splits=5)

# fill the new kfold column
for f, (t_, v_) in enumerate(kf.split(X=df, y=y)):
    df.loc[v_, 'kfold'] = f

In [52]:
df

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target,kfold
0,94359,0.0,0.0,0.0,F,Y,Red,Triangle,Axolotl,India,...,2.0,Master,Hot,i,A,YJ,6.0,2.0,0,0
1,442906,0.0,0.0,0.0,F,N,Red,Triangle,Axolotl,India,...,2.0,Contributor,Warm,m,P,Dj,5.0,5.0,0,0
2,258632,0.0,0.0,0.0,F,Y,Red,Circle,Lion,NaN,...,1.0,Novice,Hot,k,K,oU,3.0,6.0,0,0
3,566609,0.0,0.0,0.0,F,N,Blue,Triangle,Lion,India,...,3.0,Novice,Warm,n,Z,lA,7.0,3.0,1,0
4,427263,NaN,0.0,0.0,F,Y,Blue,Square,Dog,Costa Rica,...,1.0,Grandmaster,NaN,NaN,H,NaN,2.0,12.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,336782,0.0,0.0,0.0,F,Y,Blue,Triangle,Lion,Russia,...,NaN,Contributor,Boiling Hot,n,NaN,Fl,7.0,8.0,1,4
599996,31099,0.0,0.0,1.0,F,N,Blue,Circle,Axolotl,Russia,...,1.0,Expert,Warm,i,K,DT,7.0,5.0,0,4
599997,87504,0.0,0.0,0.0,F,Y,Green,Trapezoid,Hamster,India,...,1.0,Expert,Hot,n,I,ly,7.0,3.0,0,4
599998,181930,1.0,1.0,0.0,F,N,Blue,Polygon,Hamster,Costa Rica,...,2.0,Master,Warm,b,I,jf,5.0,8.0,1,4
599999,309963,0.0,0.0,0.0,T,Y,Blue,Triangle,Cat,Costa Rica,...,2.0,Grandmaster,Freezing,k,T,kv,3.0,11.0,0,4

In [53]:
# save the new csv with kfold column
df.to_csv("../input/cat_train_folds.csv", index=False)

In [54]:
 df = pd.read_csv("../input/cat_train_folds.csv")
 df.kfold.value_counts()

0    120000
1    120000
2    120000
3    120000
4    120000
Name: kfold, dtype: int64

In [55]:
df[df.kfold==0].target.value_counts()

0    97536
1    22464
Name: target, dtype: int64

In [56]:
df[df.kfold==1].target.value_counts()

0    97536
1    22464
Name: target, dtype: int64

In [57]:
df[df.kfold==2].target.value_counts()

0    97535
1    22465
Name: target, dtype: int64

In [58]:
df[df.kfold==3].target.value_counts()

0    97535
1    22465
Name: target, dtype: int64

In [59]:
df[df.kfold==4].target.value_counts()

0    97535
1    22465
Name: target, dtype: int64